{% extends 'base.html' %}

{% block main %}

<ol class="breadcrumb">
  <li><a href="{{ url_for('main.my_collections') }}">Collections</a></li>
  <li><a href="{{ url_for('main.collection_detail', collection_id=collection.id) }}">{{ collection.name }}</a></li>
  <li class="active">edit</li>
</ol>

<ul class="nav nav-tabs">
  <li role="presentation"><a href="{{ url_for('main.collection_detail_edit', collection_id=collection.id) }}">Starred Repos</a></li>
  <li role="presentation" class="active"><a href="#">Search</a></li>
  <li role="presentation"><a href="{{ url_for('main.collection_detail', collection_id=collection.id) }}"><i class="fa fa-history"></i></a></li>
</ul>
<div class="row">
  <br>
  <div class="col-md-10 col-md-offset-1">
    <div class="col-md-12">
      <form>
        <div class="form-group">
          <input type="text" class="form-control" name="keyword" placeholder="keyword" {% if keyword %} value="{{ keyword }}" {% endif %}>
          
        </div>
        

        <div class="form-inline">
          <div class="radio">
            <label>
              <input type="radio" name="flag" value="all" checked >
              All
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="flag" value="repo" {% if flag == 'repo' %} checked {% endif %} >
              Repo
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="flag" value="description" {% if flag == 'description' %} checked {% endif %} >
              Description
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="flag" value="author" {% if flag == 'author' %} checked {% endif %}>
              Author
            </label>
          </div>
        </div>

        <br>
        <div class="form-group">
          <button type="submit" class="btn btn-default">Search</button>
        </div>


      </form>
      <hr>
    </div>

    <form method="POST">
      {% if repos %}
        {% for repo in repos.items %}
          <div class="col-md-6">
            <div class="form-group">
              <label>
                <input type="checkbox" name='repos' value={{ repo.id }} > {{ repo.full_name }} <a href="{{ repo.link }}"><i class="fa fa-github"></i></a>
              </label>
                
              
              <p><small>{{ repo.desc }}</small></p>
              <p><span class="label label-default"><small>{{ repo.language }}</small></span></p>
              <hr>
            </div>
          </div>
        {% endfor %}


      
      <div class="col-md-12">
        <button class="btn btn-default">Submit</button>
      </div>

        <div class="col-md-12">
          {% import '_pagination.html' as pagination %}
          {{ pagination.render_pagination(repos, url_params) }}
        </div>
      {% endif %}
  
    </form>
  </div>

</div>

{% endblock %}


{% block js %}

{% endblock %}
