{% extends 'base.html' %}
{% block main %}

<div class="row">
    <div class="col-md-8 col-md-offset-1">
        <div class="row">
            <ol class="breadcrumb">
              <li><a href="{{ url_for('main.my_collections') }}">Collections</a></li>
              <li class="active">{{ cur_collection.name }}</li>
            </ol>
        </div>
        
        <div class="row">
            <div class="btn-group" role="group" aria-label="...">
              <button type="button" class="btn btn-primary"><a href="{{ url_for('main.collection_detail_edit', collection_id=cur_collection.id) }}"><i class="fa fa-pencil-square-o"></i> Edit</a></button>
              <button type="button" class="btn btn-primary"><a href="{{ url_for('main.collection_detail', collection_id=cur_collection.id) }}" class="clear"><i class="fa fa-trash"></i> Clear</a></button>
            </div>
        </div>
        <div class="row">
            {% for repo in cur_collection.repos %}
            <div class="col-md-9">
                <h3><a href="{{ repo.get('link') }}" target="_blank" >{{ repo.get('full_name')}}</a></h3>
                <p>{{ repo.get('desc')}}</p>
                <p>
                    <span class="label label-default"><small>{{repo.get('language')}}</small></span> &nbsp;
                    <i class="fa fa-star"></i> &nbsp;
                    <a href="{{ url_for('main.collection_detail_edit', collection_id=cur_collection.id) }}?rm-repo=true&full_name={{repo.get('full_name')}}" class="rm-repo"><i class="fa fa-trash"></i></a>
                </p>
                <hr>
            </div>

            {% else %}
            <div class="col-md-9">
                <br><br>
                <p>No collection yet</p>
            </div>
            
            {% endfor %}
        </div>
        
    </div>
    <div class="col-md-3">
        <h4>Collections</h4><hr>
        <ul class="list-group">
        {% for collection in collections %}
          {% if cur_collection.id == collection.id %}
                <a href="{{ url_for('main.collection_detail', collection_id=collection.id) }}" class="list-group-item no-border-group-list active">{{ collection.name }} 
                <small><span class="glyphicon glyphicon-remove small rm-filter" aria-hidden="true"></span></small>
                </a>
            {% else %}
                <a href="{{ url_for('main.collection_detail', collection_id=collection.id) }}" class="list-group-item no-border-group-list ">{{ collection.name }}</a>
            {% endif %}
        {% endfor %}
        </ul>

        {% if not current_user.is_authenticated %}
            <hr>

            <strong>Share your GitHub collections? 
            Please <a href="{{ url_for('accounts.login') }}">login</a> or <a href="{{ url_for('accounts.register') }}">register</a></strong>

        {% endif %}
    </div>
</div>
{% endblock %}



{% block js %}
<script type="text/javascript">
    $('.rm-filter').on('click', function (event) {
        location.href = "{{ url_for('main.my_collections') }}";
        return false;
      });
    $('.clear').click(function(){
    // id = $(this).data('id')
    var url = $(this).attr('href') + '?ajax=true';
    bootbox.confirm("Are you sure?", function(result){
      if(result){
        // alert(url);
        $.ajax({
          url: url,
          type: 'DELETE',
          success: function(result){
            location.reload();
          }
        });
      }
    });
    return false;

  });

    $('.rm-repo').click(function() {
        var url = $(this).attr('href') + '&ajax=true';
        bootbox.confirm("Are you sure?", function(result){
            if(result){
                $.ajax({
                    url: url,
                    type: 'DELETE',
                    success: function(result){
                        location.reload();
                    }
                })
            }
        });


        return false;
    })

</script>
{% endblock %}
