{% extends 'base.html' %}
{% block main %}

<div class="row">
    <div class="col-md-10 col-md-offset-1">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#add-collection">
      Add Collection
    </button>

    {% import "_form.html" as forms %}

    <!-- Modal -->
    <div class="modal fade" id="add-collection" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Add New Collection</h4>
          </div>
          <form method="POST">
              <div class="modal-body">
                {{ forms.render(form) }}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save</button>
              </div>
          </form>
        </div>
      </div>
    </div>

    {% set render_is_private_dict = {True:'<i class="fa fa-lock" aria-hidden="true"></i>'|safe, False: '<i class="fa fa-unlock" aria-hidden="true"></i>'|safe} %}

    <br><br>
    <div>
      {% if tags %}
        <strong>Tags: </strong>&nbsp;&nbsp;
        {% for tag in tags %}
        <a href="?tag={{ tag }}" class="post-tag">
            {% if tag == cur_tag %}
            <span class="label label-warning">
                {{ tag }}
                <small><span class="glyphicon glyphicon-remove small rm-filter" aria-hidden="true"></span></small>
            </span>

            {% else %}
            <span class="label label-default">
                {{ tag }}
            </span>
            {% endif %}
        </a>
        &nbsp;
        {% endfor %}
      {% endif %}
    </div>

    <br>
    <table class="table">
        <thead>
            <th>No.</th>
            <th>Name</th>
            <th>Description</th>
            <th>Create Time</th>
            <th>Update Time</th>
            <th style="text-align: center;">Visiblity</th>
            <th style="text-align: center;">Actions</th>
        </thead>
        <tbody>
        {% for collection in collections.items %}
        <tr>
            <td>{{ loop.index }}</td>
            <td><a href="{{ url_for('main.collection_detail', collection_id=collection.id) }}">{{ collection.name }}</a></td>
            <td>{{ collection.description|default('No description yet', true) }}</td>
            <td>{{ collection.create_date.strftime('%Y-%m-%d %H:%M:%S') }}</td>
            <td>{{ collection.last_update.strftime('%Y-%m-%d %H:%M:%S') }}</td>
            <td style="text-align: center;">{{ render_is_private_dict.get(collection.is_private) }}</td>
            <td style="text-align: center;">
                <a href="{{ url_for('main.edit_collection', collection_id=collection.id) }}"><i class="fa fa-pencil-square-o"></i></a> &nbsp;
                <a href="{{ url_for('main.edit_collection', collection_id=collection.id) }}" class="del-collection" data-id={{ collection.id }}><i class="fa fa-trash"></i></a>
            </td>
        </tr>
        {% else %}
        <tr><td colspan="6">No collection yet</td></tr>


        {% endfor %}
        </tbody>
    </table>

    {% import '_pagination.html' as pagination %}
    {{ pagination.render_pagination(collections) }}

    </div>
</div>
{% endblock %}


{% block js %}
<script type="text/javascript">
  $('#add-collection').on('shown.bs.modal', function () {
    $('#myInput').focus()
  });
  $('.del-collection').click(function(){
    // id = $(this).data('id')
    var url = $(this).attr('href') + '?ajax=true';
    bootbox.confirm("Are you sure?", function(result){
      if(result){
        // alert(url);
        $.ajax({
          url: url,
          type: 'DELETE',
          success: function(result){
            location.reload();
          }
        });
      }
    });
    return false;

  });
  $('.rm-filter').on('click', function (event) {

    location.href = "{{ url_for('main.my_collections') }}";
    return false;
  });
</script>
{% endblock %}
