{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block main %}

    {% if is_public %}
        {% set starred_repos_url =  url_for('main.user_starred_repos', username=username) %}
        {% set collections_url =  url_for('main.user_collections', username=username) %}
    {% else %}
        {% set starred_repos_url =  url_for('main.starred_repos') %}
        {% set collections_url =  url_for('main.my_collections') %}
    {% endif %}

<div class="row">
    <div class="col-md-3 col-md-offset-1">
        <h3>Account</h3><hr>
        <img src="{{ user.avatar_url }}" width="80%" class="img-rounded">
        <br><br><br>
        <!-- <h4>Username</h4> -->

        <span class="fa-stack">
            <!-- <i class="fa fa-circle fa-stack-2x"></i> -->
            <i class="fa fa-user fa-lg"></i>
        </span>
        {{ user.username }}
        <br>

        <!-- <h4>GitHub Account</h4> -->
        {% if not is_public %}
            <form method="POST">
                <p> 
                {% if user.github_username %}
                <span class="fa-stack">
                    <i class="fa fa-github fa-lg"></i>
                </span><a href="{{ user.github }}">{{ user.github_username }}</a> &nbsp;| 
                    <button type="submit" class="btn btn-link" name="rm_github" value='true'>  <i class="fa fa-trash-o"></i></button>
                {% else %}
                    <button type="submit" class="btn btn-success" name="link_github" value='true'> Link to <i class="fa fa-github"></i></button>
                {% endif %}
                </p>
            </form>
        {% else %}
            {% if user.github_username %}
                <span class="fa-stack">
                    <i class="fa fa-github fa-lg"></i>
                </span><a href="{{ user.github }}">{{ user.github_username }}</a>
            {% endif %}
        {% endif %}
        <hr>

        <h4>Social Network</h4>
            {% if user.social_networks['twitter']['url'] %}
                <a href='{{ user.social_networks["twitter"]["url"] }}'><i class="fa fa-twitter fa-lg"></i></a> &nbsp;
            {% else %}
                <i class="fa fa-twitter fa-lg"></i> &nbsp;
            {% endif %}
            {% if user.social_networks['weibo']['url'] %}
                <a href='{{ user.social_networks["weibo"]["url"] }}'><i class="fa fa-weibo fa-lg"></i></a> &nbsp;
            {% else %}
                <i class="fa fa-weibo fa-lg"></i> &nbsp;
            {% endif %}
            {% if user.social_networks['facebook']['url'] %}
                <a href='{{ user.social_networks["facebook"]["url"] }}'><i class="fa fa-facebook fa-lg"></i></a> &nbsp;
            {% else %}
                <i class="fa fa-facebook fa-lg"></i> &nbsp;
            {% endif %}
            {% if user.social_networks['linkedin']['url'] %}
                <a href='{{ user.social_networks["linkedin"]["url"] }}'><i class="fa fa-linkedin fa-lg"></i></a> &nbsp;
            {% else %}
                <i class="fa fa-linkedin fa-lg"></i> &nbsp;
            {% endif %}
            {% if user.social_networks['weixin']['url'] %}
                <a id="btn_weixin" href='{{ user.social_networks["weixin"]["url"] }}'><i class="fa fa-weixin fa-lg"></i></a> &nbsp;
                <!-- weixin -->
                <div id="weixin" class="hidden">
                    <br>
                    <img src="{{ user.social_networks["weixin"]["url"] }}?imageView/2/w/150" title="weixin">
                </div> 
            {% endif %}                

        <hr>

        {% if user.homepage_url %}
        <h4>Homepage</h4>
            {% if user.homepage_url %}
            <a href="{{ user.homepage_url }}"><i class="fa fa-home fa-lg"></i></a> {# user.homepage_url #}
            {% endif %}
        <hr>
        {% endif %}

        <div class="row" style="text-align:center">
            <div class='col-md-3'>
                <p class="lead">2048</p>
                <small>following</small>
            </div>
            <div class='col-md-3'>
                <p class="lead">2048</p>
                <small>follower</small>
            </div>
            <div class='col-md-3'>
                <a href="{{ starred_repos_url }}"><p class="lead">{{ starred_repos | count }}</p></a>
                <small>starred</small>
            </div>
            <div class='col-md-3'>
                <a href="{{ collections_url }}"><p class="lead">{{ collections | length }}</p></a>
                <small>collection</small>
            </div>
        </div>
        
    </div>
    <div class="col-md-4">
        <h3>Recently Starred</h3><hr>
        <div class="">
            {% for starred_repo in starred_repos[:5] %}
            <div class="row">
                <div class="col-md-12">
                    <p class="lead"><a href="{{ starred_repo.link }}" target="_blank">
                        <strong>{{ starred_repo.full_name}}</strong></a></p>
                    <p>{{ starred_repo.desc}}</p>
                    <p><span class="label label-default"><small>{{ starred_repo.language }}</small></span></p>
                </div>
            </div>
        {% endfor %}
        <br><br>
        {% if starred_repos.count() > 5%}
            <a href="{{ starred_repos_url }}"><button class="btn btn-primary" type="button">See All</button></a>
        {% endif %}
        </div>
        
        
    </div>
    <div class="col-md-3">
        <h3>Collections</h3><hr>
        {% for collection in collections[:5] %}
            <div class="row">
                <div class="col-md-12">
                    <p class="lead"><a href="{{ url_for('main.collection_detail', collection_id=collection.id) }}">
                        <strong>{{ collection.name }}</strong></a></p>
                    <p>{{ collection.description}}</p>
                </div>
            </div>

        {% endfor %}

        <br>
        {% if collections.count() > 5%}
            <a href="{{ collections_url }}"><button class="btn btn-primary" type="button">See All</button></a>
        {% endif %}
        
    </div>
</div>
{% endblock %}


{% block js %}

<script type="text/javascript">
    $('#btn_weixin').on('click', function(event){
        if($('#weixin').hasClass('hidden'))
            $('#weixin').removeClass('hidden');
        else
            $('#weixin').addClass('hidden');
        return false
    })
    
    
</script>

{% endblock %}