{% extends 'base.html' %}
{% block main %}

<div class="row">
    <div class="col-md-7 col-md-offset-1">
    {% for starred_repo in starred_repos.items %}
        <div class="row">
            <div class="col-md-12">
                <h3><a href="{{ starred_repo.link }}" target="_blank">{{ starred_repo.full_name}}</a></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <p>{{ starred_repo.desc }}</p>
                <p><span class="label label-default"><small>{{ starred_repo.language }}</small></span></p>
            </div>
        </div>
        {% if not loop.last %}
        <hr>
        {% endif %}
    {% else %}
        No starred repos yet!
    {% endfor %}

    {% import '_pagination.html' as pagination %}
    {{ pagination.render_pagination(starred_repos, url_params) }}


    </div>
    <div class="col-md-3">
        <h4>Filter by Language <i class="fa fa-filter"></i> </h4>
        <hr>
        <div class="list-group">
            {% for language in language_cursor %}
            {% if language %}
                {% if cur_language == language.name %}
                    <a href="?language={{language.name | urlencode }}" class="list-group-item no-border-group-list active">{{ language.name }}
                    <small><span class="glyphicon glyphicon-remove small rm-filter" aria-hidden="true"></span></small>
                    <span class="badge">&nbsp; {{ language.count }} &nbsp;</span></a>
                {% else %}
                    <a href="?language={{ language.name | urlencode  }}" class="list-group-item no-border-group-list ">{{ language.name }}
                    <span class="badge">&nbsp; {{ language.count }} &nbsp;</span></a>
                {% endif %}
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}


{% block js %}
<script type="text/javascript">
    $('.rm-filter').on('click', function (event) {
        location.href = ".";
        return false;
      });
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    });

</script>
{% endblock %}
