Flask==1.0.2
Flask-Script==2.0.6
Flask-Login==0.4.1
Flask-WTF==0.14.2
Flask-Principal==0.4.0
WTForms==2.2.1
mongoengine==0.15.3
flask-mongoengine==0.9.5
markdown2==2.3.6
requests==2.19.1
requests-oauthlib==1.0.0
celery[redis]
qiniu==7.2.2
itsdangerous==0.24
Flask-Admin==1.5.2
Flask-Mail==0.9.1
