{% extends 'base.html' %}
{% block title %} Settings: Change account {% endblock %}

{% block main %}
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <ul class="nav nav-tabs">
          <li role="presentation"><a href="{{ url_for('accounts.settings' )}}">Profile</a></li>
          <li role="presentation" class="active"><a href="#" onclick="return false">Password</a></li>
        </ul>
    </div>
</div>
<br>
<div class="row">
    <div class="col-xs-6 col-sm-3"></div>
    <div class="col-xs-6 col-sm-6">
        {% import "_form.html" as forms %}
        <h3>Change Password</h3><hr>
        <form method="POST" action="" id='password'>
        {{ forms.render(password_form) }}
            <button type="submit" class="btn btn-primary" name="local" value="password">Reset</button>
        </form>

        <h3>Change Password by Github</h3><hr>
        <form method="POST" action="" id='github'>
        {{ forms.render(password_form2) }}
            <button type="submit" class="btn btn-success" name="github" value="github">Reset With  <i class="fa fa-github"></i></button>
        </form>

        <h3>Change Account</h3><hr>
        <form method="POST" action="" id='user'>
        {{ forms.render(user_form) }}
            <button type="submit" class="btn btn-primary" name="user_form" value="user">Update</button>
        </form>
    </div>
    <div 
{% endblock %}