{% extends "base.html" %}
{% block title %}Registration{% endblock %}
{% block main %}

<div class="row">
    <div class="col-xs-6 col-sm-3"></div>
    <div class="col-xs-6 col-sm-6">
        {% import "_form.html" as forms %}
        <form method="POST" action="" id='login'>
        {{ forms.render(form) }}
            <button type="submit" class="btn btn-primary" name="register">Register</button>
        </form>
        {% if not create_su %}
            <hr>
            <form method="POST" action="">
                <button type="submit" class="btn btn-success" name="github" value='true'> Register with <i class="fa fa-github"></i></button>
            </form>
        {% endif %}
    </div>
    <div class="col-xs-6 col-sm-3"></div>
</div>
{% endblock %}