{% macro render_pagination(pagination, url_params=None) %}
  <nav>
    <ul class="pagination">
      {% if not pagination.has_prev %}
        <li class="disabled">
          <a href="?page=1{%if url_params %}&{{ url_params }}{% endif %}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
      {% else %}
        <li {% if not pagination.has_prev %}class="disabled"{% endif %}>
        <a href="?page={{ pagination.pre_num }}{%if url_params %}&{{ url_params }}{% endif %}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
        </li>
      {% endif %}
    
      {%- for page in pagination.iter_pages() %}
        {% if page %}
          {% if page != pagination.page %}
            <li><a href="?page={{ page }}{%if url_params %}&{{ url_params }}{% endif %}">{{ page }}</a></li>
          {% else %}
            <li class="disabled"><a href="?page={{ page }}{%if url_params %}&{{ url_params }}{% endif %}"><strong>{{ page }}</strong></a></li>
          {% endif %}
        {% else %}
          <!-- <span class=ellipsis>…</span> -->
          <li class="disabled"><a href="#">...</a></li>
        {% endif %}
      {%- endfor %}

      {% if not pagination.has_next %}
        <li class="disabled">
          <span aria-hidden="true">&raquo;</span>
        </li>
      {% else %}
        <li>
          <a href="?page={{ pagination.next_num }}{%if url_params %}&{{ url_params }}{% endif %}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      {% endif %}      
    </ul>
  </nav>
{% endmacro %}